VITE_API_BASE_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com/DESA
VITE_API_KEY=tu-api-key-aqui
VITE_APP_NAME=MTTO Fleet Manager
AWS_ACCESS_KEY_ID='<tu-access-key-id>'
AWS_SECRET_ACCESS_KEY='<tu-secret-access-key>'
AWS_DEFAULT_REGION='us-east-1'
