POSTGRESQL_CREDENTIALS='{"host":"postgres","port":5432,"database":"postgres","user":"postgres","password":"postgres","max":10,"idleTimeoutMillis":30000,"connectionTimeoutMillis":2000}'
JWT_SECRET='<segreto-jwt-sicuro>'
GROQ_API_KEY='<la-tua-chiave-groq>'
AWS_ACCESS_KEY_ID='<tu-access-key-id>'
AWS_SECRET_ACCESS_KEY='<tu-secret-access-key>'
AWS_DEFAULT_REGION='us-east-1'